extends layout

block content
  div(class='container' style='border: 1px solid black')
    h4.text-center Details of your account 
    table.table 
      thead
        tr
          th(style='width: 50%;')
          th(style='width: 50%')
      tbody
        tr  
          td  Login Name
          td(class='text-right') #{user.username}
        tr
          td Email
          td(class='text-right') #{user.email}
        tr
          td Type of User
          td(class='text-right') #{user.role}

  div(style='padding-top: 2cm')   
  div(class='container' style='border: 1px solid black')
    h5.align-center 
      h4.text-center Projects assigned To You 
      if projectsWorkingx.length == 0
        div.text-center No project has been assigned to you presently. 
      else
        table.table 
          thead
            tr
              th(class='text-left') Project Name
              th(class='text-center') Assigned by 
              th(class='text-right') Budget 
           tbody
             each p in projectsWorkingx
               tr  
                 td 
                   a(href='/project/#{p.name}') #{p.name}
                 td(class='text-center') 
                   a(href='/user/#{p.manager}') #{p.manager}
                 td.text-right 
                   | $#{p.budget }


